### CURSO PYTHON INTERMEDIARIO AO AVANÇADO

### AULA 01

### Coleçoes de Dados - Containers ou Iteraveis

- lista, tuplas e dicionarios

### Lista

In [3]:
lista_inteiros = [12,34,30,0,100]

In [4]:
lista_inteiros

[12, 34, 30, 0, 100]

In [6]:
lista_strings = ['Mario','Regina','Guiga','Joao']

In [7]:
lista_mista = ['Morango', 4.50,'Uva',10.30,'Pera',15.45]

In [8]:
lista_mista

['Morango', 4.5, 'Uva', 10.3, 'Pera', 15.45]

In [11]:
print(lista_inteiros)
print(lista_strings)
print(lista_mista)

[12, 34, 30, 0, 100]
['Mario', 'Regina', 'Guiga', 'Joao']
['Morango', 4.5, 'Uva', 10.3, 'Pera', 15.45]

In [10]:
print(lista_mista[2])

Uva

In [12]:
len(lista_mista)

6

In [13]:
lista_mista.append('Manga')

In [14]:
lista_mista

['Morango', 4.5, 'Uva', 10.3, 'Pera', 15.45, 'Manga']

In [16]:
del lista_mista[4:6]

In [17]:
lista_mista

['Morango', 4.5, 'Uva', 10.3, 'Manga']

In [20]:
lista_mista = ['Morango', 4.50,'Uva',10.30,'Pera',15.45]

In [22]:
del lista_mista[:]

In [23]:
lista_mista

[]

### Iterador

In [25]:
for i in lista_strings:
    print(i)

Mario
Regina
Guiga
Joao

### Tuplas - Coleção Imutavel

### tupla sempre e definida por , ( virgula )

In [27]:
tupla_numeros = (1,2,4,67,100)

In [29]:
type(tupla_numeros)

tuple

In [30]:
x = 1,2,4,67,100

In [31]:
type(x)

tuple

In [32]:
x

(1, 2, 4, 67, 100)

###  o que define uma tupla e a virgula e nao os parenteses

In [33]:
tupla_teste = (4)

In [34]:
type(tupla_teste)

int

In [35]:
y = 4,

In [36]:
type(y)

tuple

In [37]:
y

(4,)

-  o processamnto da tupla e mais rapido que a lista

In [38]:
tupla_nomes = 'Mario','Regina'

In [39]:
tupla_nomes

('Mario', 'Regina')

In [41]:
tupla_nomes[1]

'Regina'

In [42]:
k = 'Mario',10

In [43]:
type(k)

tuple

In [44]:
k

('Mario', 10)

In [45]:
len(k)

2

In [46]:
for t in k:
    print(t)

Mario
10

In [49]:
k[1]

10

In [50]:
x

(1, 2, 4, 67, 100)

In [51]:
y

(4,)

In [52]:
x = x + y

In [53]:
x

(1, 2, 4, 67, 100, 4)

In [59]:
if (100 in x):
    print('Esta na tupla x')
else:
    print('nao esta na tupla x')

Esta na tupla x

- identation error
- PEP 8  Style Guide for Python Code

In [62]:
for i in x:
    print(i)

1
2
4
67
100
4

### Dicionarios

- dicionario = {chave:valor}

In [71]:
estados_siglas = {'SP':'Sao Paulo','SC':'Santa Catarina','PR':'Parana',
                  'RS': 'Rio Grande do Sul'}

In [72]:
type(estados_siglas)

dict

In [73]:
estados_siglas

{'SP': 'Sao Paulo',
 'SC': 'Santa Catarina',
 'PR': 'Parana',
 'RS': 'Rio Grande do Sul'}

In [74]:
estados_siglas.keys()

dict_keys(['SP', 'SC', 'PR', 'RS'])

In [75]:
estados_siglas.values()

dict_values(['Sao Paulo', 'Santa Catarina', 'Parana', 'Rio Grande do Sul'])

In [76]:
estados_siglas['PR']

'Parana'

In [77]:
len(estados_siglas)

4

In [79]:
for dic in estados_siglas:
    print(dic,':',estados_siglas[dic])

SP : Sao Paulo
SC : Santa Catarina
PR : Parana
RS : Rio Grande do Sul

In [82]:
estados_siglas.items()

dict_items([('SP', 'Sao Paulo'), ('SC', 'Santa Catarina'), ('PR', 'Parana'), ('RS', 'Rio Grande do Sul')])

In [84]:
for dic in estados_siglas.items():
    print(dic)
    print(type(dic))

('SP', 'Sao Paulo')
<class 'tuple'>
('SC', 'Santa Catarina')
<class 'tuple'>
('PR', 'Parana')
<class 'tuple'>
('RS', 'Rio Grande do Sul')
<class 'tuple'>

In [93]:
# INSERINDO NO DICIONARIO
estados_siglas['RJ'] = 'Rio de Janeiro '

In [94]:
estados_siglas

{'SP': 'Sao Paulo',
 'SC': 'Santa Catarina',
 'PR': 'Parana',
 'RJ': 'Rio de Janeiro '}

In [95]:
estados_siglas['PR']

'Parana'

- keys() , values(),  items()(tupla de key e value)

In [96]:
del estados_siglas['RS']

KeyError: 'RS'

In [97]:
estados_siglas

{'SP': 'Sao Paulo',
 'SC': 'Santa Catarina',
 'PR': 'Parana',
 'RJ': 'Rio de Janeiro '}

In [100]:
estados_siglas['SP'] = 'Sao Paulo'

In [101]:
estados_siglas

{'SP': 'Sao Paulo',
 'SC': 'Santa Catarina',
 'PR': 'Parana',
 'RJ': 'Rio de Janeiro '}

In [102]:
dic2 = {'altura': 1.80}

In [105]:
estados_siglas['altura'] = 1.80

In [106]:
estados_siglas

{'SP': 'Sao Paulo',
 'SC': 'Santa Catarina',
 'PR': 'Parana',
 'RJ': 'Rio de Janeiro ',
 'altura': 1.8}

In [107]:
dic3  = {'altura2': 1.70}

In [108]:
dic3

{'altura2': 1.7}

In [109]:
estados_siglas

{'SP': 'Sao Paulo',
 'SC': 'Santa Catarina',
 'PR': 'Parana',
 'RJ': 'Rio de Janeiro ',
 'altura': 1.8}

In [110]:
estados_siglas.update(dic3)

In [111]:
estados_siglas

{'SP': 'Sao Paulo',
 'SC': 'Santa Catarina',
 'PR': 'Parana',
 'RJ': 'Rio de Janeiro ',
 'altura': 1.8,
 'altura2': 1.7}

-  EXERCICIO LISTA

In [112]:
lista_mista = ['Mario',10,True]

In [113]:
len(lista_mista)

3

In [114]:
lista_string = ['Guiga','Mario','Regina']

In [116]:
lista_string.append(['Joao','Elen'])

In [117]:
lista_string

['Guiga', 'Mario', 'Regina', ['Joao', 'Elen']]

In [118]:
del lista_string[3]

In [119]:
lista_string

['Guiga', 'Mario', 'Regina']

In [120]:
lista_string.append('Joao')
lista_string.append('Elen')

In [121]:
lista_string

['Guiga', 'Mario', 'Regina', 'Joao', 'Elen']

In [122]:
for nome in lista_string:
    print(nome)

Guiga
Mario
Regina
Joao
Elen

In [123]:
max(lista_string)

'Regina'

In [124]:
del lista_string[4]

In [125]:
lista_string

['Guiga', 'Mario', 'Regina', 'Joao']

In [174]:
lista_string

['Guiga', 'Mario', 'Regina', 'Joao']

In [177]:
lista_string.index(max(lista_string))

2

In [179]:
len(lista_string)-1

3

- Exercicios Tuplas

In [126]:
tupla = 'Mario','Guiga','Regina'

In [127]:
type(tupla)

tuple

In [130]:
range(2)

range(0, 2)

In [133]:
i = 2
while i >= 0:
    print ( tupla[i])
    i = i - 1

Regina
Guiga
Mario

In [180]:
tupla

('Mario', 'Guiga', 'Regina')

In [182]:
tupla[2]

'Regina'

In [ ]:
for item in range(9, -1, -1):
    print(item)

In [184]:
for item in range(len(tupla)-1,-1,-1):
    print(tupla[item])

Regina
Guiga
Mario

- Exercicios Dicionarios

In [135]:
dic = {'alturas' : [1.80,1.70,1.90]}

In [136]:
dic

{'alturas': [1.8, 1.7, 1.9]}

In [137]:
len(dic)

1

In [147]:
dic2 = {'Nome': 'Mario','Altura': 1.80,'Peso':75.0}

In [148]:
dic2

{'Nome': 'Mario', 'Altura': 1.8, 'Peso': 75.0}

In [149]:
for i in dic2.items():
    print(i)

('Nome', 'Mario')
('Altura', 1.8)
('Peso', 75.0)

In [150]:
for i in dic2.keys():
    print(i)

Nome
Altura
Peso

In [151]:
for i in dic2.values():
    print(i)

Mario
1.8
75.0

In [152]:
dic3 = {'sexo': 'Masculino', 'Nacionalidade': 'Brasileiro '}

In [153]:
dic3

{'sexo': 'Masculino', 'Nacionalidade': 'Brasileiro '}

In [156]:
dic2

{'Nome': 'Mario', 'Altura': 1.8, 'Peso': 75.0}

In [157]:
dic3

{'sexo': 'Masculino', 'Nacionalidade': 'Brasileiro '}

In [160]:
dic2.update(dic3)

In [161]:
dic2

{'Nome': 'Mario',
 'Altura': 1.8,
 'Peso': 75.0,
 'sexo': 'Masculino',
 'Nacionalidade': 'Brasileiro '}

In [162]:
len(dic2)

5

In [163]:
dic

{'alturas': [1.8, 1.7, 1.9]}

In [169]:
for a in dic.items():
    print (a)

('alturas', [1.8, 1.7, 1.9])

In [170]:
for a in dic.keys():
    print (a)

alturas

In [171]:
for a in dic.values():
    print (a)

[1.8, 1.7, 1.9]

In [173]:
for a,b in dic.items():
    print (a,b)
    print (b[1])

alturas [1.8, 1.7, 1.9]
1.7